@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-page="Index">
        <span><img src="~/images/—Pngtree—vector shopping bag icon_4869075.png" /></span>
        <span style="color:white">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}